<form th:action="@{/vytvoritSvoz}" method="get" xmlns:gcan="http://www.w3.org/1999/xhtml">
    <input class="form-control col-6" id="citySearch" placeholder="Vyhledat dle města (více měst oddělte čárkou)"
           th:name="city" th:value="${city}">
    <input class="btn btn-secondary col-2" type="submit" value="Hledat" style="margin-top: 5px">
</form>


<form method="post" th:object="${formCollection}">

    <label for="gCanSelect" class="form-label mt-4">Vyberte svozové nádoby</label>

    <select class="form-control" th:field="*{cans}" multiple="multiple" id="gCanSelect">
        <option th:each="gcan : ${gCans}"
                th:field="*{cans}"
                th:value="${gcan.id}"
                th:text="${gcan.toString()}">
        </option>
    </select>

    <script>
        $('option').mousedown(function (e) {
            e.preventDefault();
            $(this).prop('selected', !$(this).prop('selected'));
            return false;
        });
    </script>

    <div class="row">
        <div class="col-3"></div>
        <div class="col-6" style="margin-top: 15px; margin-bottom: 15px;text-align: center">
            <div class="form-floating">
                <input class="form-control" id="name" placeholder="text" th:field="*{name}">
                <label for="name">Název svozu:</label>
            </div>
        </div>
        <h3>Vozidlo</h3>
        <div class="col-12" th:each="gtruck: ${gTrucks}" style="text-align: left; padding-left: 18em;">
            <input class="form-check-input" type="radio" name="truckRadios" th:id="${gtruck.id}" th:value="${gtruck.id}"
                   th:field="*{assignedTruck}" th:checked="${gtruck.id == formCollection.getTruckId()}">
            <label class="form-check-label" th:for="${gtruck.id}" th:text="${gtruck.toString()}">
            </label>
        </div>
    </div>

    <input class="btn btn-primary" type="submit" style="margin-top: 15px;" value="Uložit svoz">
</form>