<form id="form">
  <div class="row">
    <div class="col-2"></div>
    <div class="form-group col-4">
      <div class="form-floating">
        <input class="form-control" placeholder="text" type="text" id="city" th:object="${location}"
               th:value="*{city}">
        <label for="city">Město:</label>
      </div>
    </div>

    <div class="form-group col-4">
      <div class="form-floating">
        <input class="form-control" id="street" placeholder="text"
               th:value="${location.street} + ' ' + ${location.houseNumber}">
        <label for="street">Ulice a čp.:</label>
      </div>
    </div>
    <div class=" col-1">
      <button type="submit" value="Hledat" class="btn btn-primary" style="margin-top: 10px"><i class="bi bi-search"></i></button>
    </div>
  </div>
</form>
<br>
<div id="m" style="width:70%; height:70%; margin-left: 15%;"></div>
<br>
<form method="post" th:object="${gcan}">
  <div class="row">
    <div class="form-group col-5">
      <div class="form-floating">
        <input class="form-control" id="cityOut" placeholder="text" th:object="${location}"
               th:value="*{city}" name="city">
        <label for="cityOut">Město:</label>
      </div>
    </div>

    <div class="form-group col-5">
      <div class="form-floating">
        <input class="form-control" id="streetOut" placeholder="text" th:object="${location}"
               th:value="*{street}" name="street">
        <label for="streetOut">Ulice:</label>
      </div>
    </div>

    <div class="form-group col-2">
      <div class="form-floating">
        <input class="form-control" id="houseNumberOut" placeholder="text" th:object="${location}"
               th:value="*{houseNumber}" name="houseNumber">
        <label for="houseNumberOut">Číslo popisné:</label>
      </div>
    </div>

    <div class="form-group col-4" style="margin-top: 15px;">
      <div class="form-floating">
        <input class="form-control" id="volume" placeholder="text" th:field="*{volume}">
        <label for="volume">Objem v litrech:</label>
      </div>
    </div>

    <div class="col-3" style="margin-top: 10px; text-align: left">
      <label class="control-label">Typ popelnice:</label>
      <select class="form-select" th:field="*{garbageType}">
        <option value="Směsný">Směsný odpad</option>
        <option value="Plasty">Plasty</option>
        <option value="Papír">Papír</option>
        <option value="Sklo">Sklo</option>
        <option value="Kovy">Kovy</option>
        <option value="Nebezpečný">Nebepečný odpad</option>
        <option value="Recyklovatelný">Recyklovatelný odpad</option>
        <option value="Bio">Bio odpad</option>
      </select>
    </div>
  </div>

  <input th:object="${location}" id="outLat" th:value="*{GPSlat}" name="GPSlat" type="hidden">
  <input th:object="${location}" id="outLon" th:value="*{GPSlon}" name="GPSlon" type="hidden">
  <input th:href="@{/upravaPopelnice(id=${id})}" class="btn btn-primary" type="submit"
         style="margin-top: 15px;" value="Uložit změny">
</form>
<br>