<form method="post" th:object="${formTruck}">
    <div class="row">
        <div class="col-5" style="margin-top: 15px;">
            <div class="form-floating">
                <input class="form-control" id="licencePlate" placeholder="text" th:field="*{licencePlate}">
                <label for="licencePlate">Poznávací značka:</label>
            </div>
        </div>

        <div class=" col-5" style="margin-top: 15px;">
            <div class="form-floating">
                <input class="form-control" id="make" placeholder="text" th:field="*{make}">
                <label for="make">Výrobce:</label>
            </div>
        </div>

        <div class=" col-5" style="margin-top: 15px;">
            <div class="form-floating">
                <input class="form-control" id="model" placeholder="text" th:field="*{model}">
                <label for="model">Model:</label>
            </div>
        </div>

        <div class=" col-5" style="margin-top: 15px;">
            <div class="form-floating">
                <input class="form-control" id="capacity" placeholder="text" th:field="*{capacity}">
                <label for="capacity">Kapacita:</label>
            </div>
        </div>
    </div>

    <br>

    <h3>Podporované typy odpadu</h3>
    <div th:each="gtype: ${gTypes}">
        <input class="form-check-input" type="checkbox" th:value="${gtype}" th:id="${gtype}" th:field="*{supportedGarbageTypes}">
        <label class="form-check-label" th:for="${gtype}" th:text="${gtype}">
        </label>
    </div>

    <br>

    <h3>Domovská skládka</h3>
    <div th:each="landfill: ${landfills}">
        <input class="form-check-input"  type="radio" name="landfillsRadios" th:id="${landfill.id}" th:value="${landfill.id}" th:field="*{homeLandfillId}" checked="${landfill.id == getHomeLandfillId()}">
        <label class="form-check-label" th:for="${landfill.id}" th:text="${landfill.location.getAddress()}">
        </label>
    </div>



    <input class="btn btn-primary" type="submit" style="margin-top: 15px;" value="Uložit svozový vůz">
</form>