<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Address Find Demo</title>
    <script src="https://api.mapy.cz/loader.js"></script>
    <div th:include="fragments/head"></div> <!-- zde se načte hlavička (/templates/fragments/head.html) -->
    <script>Loader.load()</script>
</head>

<div th:replace="fragments/navbar"></div> <!-- zde se načte navigace (/templates/fragments/navbar.html) -->

<body>
<div class="container">
    <div class="row">
        <div class="col-2"></div>
        <div class="col-8" style="text-align: center;">
            <br>
            <br>

            <!-- https://api.mapy.cz/view?page=geocoding -->
            <form id="form">
                <p>
                    <label>Město: <input type="text" id="city" value=""/></label>
                    <label>Ulice a čp.: <input type="text" id="street" value=""/></label>
                    <button type="submit" value="Hledat" class="btn btn-primary"><i class="bi bi-search"></i></button>
                    <!--        <input type="submit" value="Hledat">-->
                </p>
            </form>

            <div id="m" style="height:360px"></div>
            <h3 id="info"></h3>

            <h3>Co se uloží do DB:</h3>
            <em id="outLat"></em>
            <em id="outLon"></em>
        </div>
    </div>
</div>

<script>

    function geokoduj(e, elm) {  /* Voláno při odeslání */
        JAK.Events.cancelDef(e); /* Zamezit odeslání formuláře */
        var city = JAK.gel("city").value;
        var street = JAK.gel("street").value;
        var query = city + "," + street;
        console.log(query);
        new SMap.Geocoder(query, odpoved);
    }

    function odpoved(geocoder) { /* Odpověď */
        if (!geocoder.getResults()[0].results.length) {
            alert("Tohle neznáme.");
            return;
        }

        var results = geocoder.getResults()[0].results;
        var item = results.shift();
        var foundCoords = item.coords.toWGS84();
        console.log(foundCoords[0] + "|" + foundCoords[1]);
        var lat = foundCoords[0];
        var lon = foundCoords[1];
        var center = SMap.Coords.fromWGS84(lat, lon);
        document.getElementById("outLat").innerHTML = lat;
        document.getElementById("outLon").innerHTML = lon;


        document.getElementById("info").innerHTML = "Marker se dá přesouvat pro upřesnění lokce";

        var m = new SMap(JAK.gel("m"), center, 13);
        m.addDefaultLayer(SMap.DEF_BASE).enable();
        m.addDefaultControls();

        var layer = new SMap.Layer.Marker();
        m.addLayer(layer);
        layer.enable();

        var options = {};
        var marker = new SMap.Marker(center, "foundLocation", options);
        marker.decorate(SMap.Marker.Feature.Draggable);
        layer.addMarker(marker);

        var signals = m.getSignals();
        signals.addListener(window, "marker-drag-stop", dragStop);


    }

    function dragStop(e) {
        var coords = e.target.getCoords();
        var draggedCoords = coords.toWGS84();
        var outLat = draggedCoords[0];
        var outLon = draggedCoords[1];
        document.getElementById("outLat").innerHTML = outLat;
        document.getElementById("outLon").innerHTML = outLon;
    }


    var form = JAK.gel("form");
    JAK.Events.addListener(form, "submit", geokoduj); /* Při odeslání formuláře pustit geokódování */
</script>


</body>
</html>