<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Přehled popelnic</title>
    <script src="https://api.mapy.cz/loader.js"></script>
    <div th:include="fragments/head"></div>
    <script>Loader.load()</script>
</head>
<body>
<div th:replace="fragments/navbar"></div>

<div class="container">
    <div class="row">
        <div class="col-2"></div>
        <div class="col-8" style="text-align: center;">
            <br>
            <h1>Přehled popelnic <a href="/vytvoritPopelnici" type="button" class="btn btn-primary" style="margin-left: 0.8em;"><i class="bi bi-plus-circle"></i></a></h1>
            <br>
            <div id="mapa" style="width:600px; height:400px; margin-left: auto; margin-right: auto;"></div>
            <br>
            <form th:action="@{/popelnice}" method="get">
                <h3>Vyhledávání:</h3>
                <input class="form-control col-3" id="citySearch" placeholder="Město" th:name="citySearch" th:value="${citySearch}">
                <input class="form-control col-3" id="streetSearch" placeholder="Ulice" th:name="streetSearch" th:value="${streetSearch}">
                <input class="btn btn-secondary col-2" style="margin-top: 5px" type="submit" value="Hledat">
            </form>
            <br>
            <table class="table table-hover">
                <thead>
                <tr>
                    <th scope="col">Typ popelnice</th>
                    <th scope="col">Objem [l]</th>
                    <th scope="col">Adresa</th>
                    <th scope="col"></th>
                </tr>
                </thead>
                <tbody>
                <div th:each="gCan: ${gCans}">
                    <tr>
                        <td th:text="${gCan.garbageType}"></td>
                        <td th:text="${gCan.volume}"></td>
                        <td th:text="${gCan.getLocation().getAddress()}"></td>
                        <td>
                            <a th:href="@{/upravaPopelnice(id=${gCan.id})}" class="btn btn-primary"><i class="bi bi-pencil-fill"></i></a>
                        </td>
                        <td>
                            <button class="btn btn-danger" data-toggle="modal" th:data-target="'#delete_' + ${gCan.id}"><i class="bi bi-trash-fill"></i></button>

                            <div class="modal fade" th:id="'delete_' + ${gCan.id}">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title">Potvrzení</h5>
                                            <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true"></span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <p>Opravdu chcete smazat tuto popelnici?</p>
                                        </div>
                                        <div class="modal-footer">
                                            <form action="#" th:action="@{/smazaniPopelnice(id=${gCan.id})}" th:method="delete" >
                                                <button class="btn btn-danger" type="submit">Smazat</button>
                                            </form>
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Zrušit</button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </td>
                    </tr>
                </div>
                </tbody>
            </table>
        </div>
    </div>
</div>

<script th:inline="javascript">
    var gCansList = [[${gCans}]];
    var lon = gCansList[0].location.gpslon;
    var lat = gCansList[0].location.gpslat;
    var list = [[${gCans}]];
    var center = SMap.Coords.fromWGS84(lat, lon);
    var m = new SMap(JAK.gel("mapa"), center, 13);
    m.addDefaultLayer(SMap.DEF_BASE).enable();
    m.addDefaultControls();

    var layer = new SMap.Layer.Marker();
    m.addLayer(layer);

    list.forEach(
        addMarkers
    )
    layer.enable();

    function addMarkers(item) {
        center = SMap.Coords.fromWGS84(item.location.gpslat, item.location.gpslon);
        var options = {title: item.garbageType};
        var marker = new SMap.Marker(center, item.id, options); //id markeru musí být unikátní
        layer.addMarker(marker);
    }
</script>
</body>
</html>