<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Svozy</title>
    <div th:include="fragments/head"></div>
</head>
<body>
<div th:replace="fragments/navbar"></div>

<div class="container">
    <div class="row">
        <div class="col-2"></div>
        <div class="col-8" style="text-align: center;">
            <br>
            <h1>Přehled svozů <a href="/vytvoritSvoz" type="button" class="btn btn-primary" style="margin-left: 0.8em;"><i
                    class="bi bi-plus-circle"></i></a></h1>
            <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
            <div id="piechart" style="width: 900px; height: 400px;"></div>

            <table class="table table-hover">
                <thead>
                <tr>
                    <th scope="col">Název</th>
                    <th scope="col">Počet nádob</th>
                    <th scope="col">Města</th>
                    <th scope="col">Vozidlo</th>

                </tr>
                </thead>
                <tbody>
                <div th:each="collection: ${collections}">
                    <tr>
                        <td th:text="${collection.name}"></td>
                        <td th:text="${collection.cans.size()}"></td>
                        <td th:text="${collection.getCities()}"></td>
                        <td th:if="${collection.getAssignedTruck() != null}" }
                            th:text="${collection.getAssignedTruck().toString()}"></td>
                        <td th:if="${collection.getAssignedTruck() == null}" }><span
                                class="badge rounded-pill bg-warning">NEPŘIŘAZENO</span></td>
                        <td>
                            <a th:href="@{/upravaSvozu(id=${collection.id})}" class="btn btn-primary"><i
                                    class="bi bi-pencil-fill"></i></a>
                        </td>
                        <td>
                            <button class="btn btn-danger" data-toggle="modal" data-target="#deleteModal" th:data-target="'#delete_' + ${collection.id}"><i
                                    class="bi bi-trash-fill"></i></button>

                            <div class="modal fade" th:id="'delete_' + ${collection.id}">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title">Potvrzení</h5>
                                            <button type="button" class="btn-close" data-dismiss="modal"
                                                    aria-label="Close">
                                                <span aria-hidden="true"></span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <p>Opravdu chcete smazat tento svoz?</p>
                                        </div>
                                        <div class="modal-footer">
                                            <form action="#" th:action="@{/smazaniSvozu(id=${collection.id})}"
                                                  th:method="delete">
                                                <button class="btn btn-danger" type="submit">Smazat</button>
                                            </form>
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">
                                                Zrušit
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                </div>
                </tbody>
            </table>
        </div>
    </div>
</div>
<script th:inline="javascript">
    google.charts.load('current', {'packages': ['corechart']});
    google.charts.setOnLoadCallback(drawChart);
    const collections = [[${collections}]];
    const cities = [];
    collections.forEach(addCity)

    const count = {};
    for (const element of cities) {
        if (count[element]) {
            count[element] += 1;
        } else {
            count[element] = 1;
        }
    }
    const pieData = [];
    const citiesData = [];
    pieData.push(['Město', 'Počet svozů']);
    cities.forEach(addPieData);

    function addCity(item, index) {
        cities.push(item.cities)
    }

    function addPieData(item, index) {
        if (!citiesData.includes(item.toString())) {
            pieData.push([item.toString(), count[item]]);
            citiesData.push(item.toString())
        }
    }

    function drawChart() {
        var data = google.visualization.arrayToDataTable(
            pieData
        );

        var options = {};
        var chart = new google.visualization.PieChart(document.getElementById('piechart'));
        chart.draw(data, options);
    }
</script>
</body>
</html>