<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Úprava skládky</title>
    <script src="https://api.mapy.cz/loader.js"></script>
    <div th:include="fragments/head"></div> <!-- zde se načte hlavička (/templates/fragments/head.html) -->
    <script>Loader.load()</script>
</head>

<div th:replace="fragments/navbar"></div> <!-- zde se načte navigace (/templates/fragments/navbar.html) -->

<body>
<div class="container">
    <div class="row">
        <div class="col-2"></div>
        <div class="col-8" style="text-align: center">
            <br>
            <h1>Úprava skládky</h1>
            <br>

            <!-- https://api.mapy.cz/view?page=geocoding -->
            <div th:replace="fragments/landfillForm"></div>
        </div>
    </div>
</div>


</body>
</html>